<html>
  <head>
    <title>Edit un potin</title>
  </head>
  <body style = "background-color:rgb(100,150,142);" >
    <h1 style="text-align:center;">Changer la page du potin </h1>
    <p style="text-align:center;">Balance ton potin via le formulaire ci-dessous</p>
    <form style="text-align:center;" action='/gossips/<%= id %>/edit/' method='POST'>

      <h1>Id de l'auteur : <%= id %></h1>

      Saisi ici ton nom :  <input style="text-align:center;" type='text' name='gossip_author'/><br/>
      Balance ton potin : <input style="text-align:center;" type='text' name='gossip_content'/><br/>
      <input style="text-align:center;" type='submit'/>
    </form>
    <h3 style="text-align:center;"> Clique <a href="/">ici</a> pour revenir à la page des potins </h3>       
  </body>
</html>