<html>
  <head>
    <title>Edit un potin</title>
  </head>
  <body style = "background-color:rgb(100,150,142);" >
    <h1 style="text-align:center;">Changer la page du potin n°<%=i%> </h1>
        <p style="text-align:center;">
          <p style="text-align:center;">
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
        <h3 style="text-align:center;"> Clique <a href="/">ici</a> pour revenir à la page des potins </h3>
         
  </body>
</html>